@charset "UTF-8";

@font-face {
    font-family: 'NomeSite';
    src: url('../fontes/Nosifer-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Link';
    src: url('../fontes/Jura-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Titulo';
    src: url('../fontes/Alatsi-Regular.ttf') format('truetype');
}

:root {
    --cor0: #87d3df;
    --cor1: #bde08c;
    --cor2: #f0c982;
    --cor3: #f8a17c;
    --cor4: #fca0a8;

    --fonte-nomeSite: 'NomeSite', cursive;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Titulo', cursive;
    --fonte-link: 'Link', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: whitesmoke;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2),var(--cor3), var(--cor4));
    color: white;
    text-align: center;
    padding: 30px;
    min-height: 130px;
    box-shadow:  inset 0px 0px 12px 1px rgb(0 0 0 / 15%);
}

header > h1{
    font-family: var(--fonte-nomeSite);
    font-size: 2em;
    text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.452)
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.452);
    padding-top: 15px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.096);
}

main > article > h1{
    padding-bottom: 20px;
    font-size: 1.8em;
    font-family: var(--fonte-titulo);
}

h3 {
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
}

main > article > p {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px;
    
}

a {
    font-family:var(--fonte-link);
}

#creditos {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

aside {
    padding: 15px 15px 15px 0px;
    margin: 20px 20px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    color: black;
    font-weight: bold;
    font-family: var(--fonte-titulo);
    font-size: 1.2em;
}

div#extras a{
    font-size: 0.9em;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a::after {
    content: "\01F517";
    display: inline-block;
    margin-left: 5px;
}

footer {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2),var(--cor3), var(--cor4));
    color: white;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    box-shadow:  inset 0px 0px 12px 1px rgb(0 0 0 / 15%);
    text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.514);
    font-family: var(--fonte-cores);
}
footer a {
    text-decoration: none;
    color: white;
}

/*
    GERADOR DE CORES
*/

.container {
    display: flex;
    height: 100vh;
}

.colors {
    display: flex;
    width: 20%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btn-container {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2),var(--cor3), var(--cor4));
    width: 300px;
    height: 40px;
    border-radius: 25px; 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.315);
    cursor: pointer;
}

.btn {
    border: none;
    font-family: var(--fonte-titulo);
    width: 300px;
    height: 40px;
    border-radius: 20px;
    font-size: 1.4em;
    text-shadow: 2px 2px 3px rgb(0 0 0 / 46%);
    box-shadow: inset 0px 0px 2px 1px #00000059;
    color: rgba(12, 12, 12, 0.658);
    cursor: pointer;
}

.colors > p {
    font-size: 0.9em;
    font-weight: bolder;
    font-family: var(--fonte-padrao);
}

#tabela-significados {
    margin-top: 30px;
}